.fakecsv-text{
    font-size: 20px;
    color:#000000;
}
.schemas-text{
    font-size: 16px;
}
.hello-text{
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}
a{
    text-decoration: none;
}
.new-schema-button{
    font-size: 16px !important;
}
.data-text{
    font-size: 24px;
}
.delete-button{
    margin-left: 10px !important;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.row-input{
    width: 10% !important;
}
.scs-button{
    background-color: #5CB85C !important;
    color:#5CB85C;
}